<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% load static %}
        <link rel="stylesheet" href="{% static 'Portfolio/landingO.css' %}" media="screen" title="Portfolio"  charset="utf-8">
    </head>
    <body>
        <div class="wrapper">
            <nav id="navBar">
                <p>Kayer Arzadon-Smith</p>
                    <a class="active" href="javascript:void(0)">Home</a>
                    <a href="javascript:void(0)">News</a>
                    <a href="javascript:void(0)">Contact</a>
            </nav>
            <div class="one">
                <div class="oneInfo">
                    <p>Full Stack Web Developer</p>
                    <p>Beer Drinker</p>
                    <p>Music Lover</p>
                    <p>Hockey Player</p>
                </div>
            </div>
            <div id="aboutMeContainer">
                <p>A<b>B</b>o<b>u</b>t <b>m</b>E</p>
            </div>
            <div class="two">
                <h2>Hi, I'm Kayer. Let's create something amazing together!</h2>
                <div class='twoPContainer'>
                    <p>I am a recent graduate from the web development program called Coding Dojo. I've gained over 1000 hours of experience engineering in languages such as: Javascript, Python, and C#, while operating in frameworks and libraries such as: React Native, Angular, Django, and ASP.Net Core. Being a front-end developer is my specialty but am fully trained in engineering full stack web applications. I'm very passionate about engineering sweet software solution and love working with people. I am outgoing, dedicated to working hard in order to get the job done, have the ability to multi-task and take on numerous projects, and always have the internal and external customer as a top priority.</p>
                </div>
            </div>
            <div id="projectsTag">
                <p>pR<b>oJ</b>e<b>cTs</b></p>
            </div>
            <div class="four">
                    <div class='recentWorksContainer'>
                        <div class="worksWrapper">
                            <img class="works" src="../static/Portfolio/Images/tagSportsSS.jpg" alt="logo">
                            <div class="worksProject">
                                <p>Tagsports Graphics Samples</p>
                                <div class="text">Visit Website</div>
                            </div>
                            <div class="worksWrapperShadowContainer">
                                <div class="worksWrapperShadow"></div>
                            </div>
                        </div>
                        <div class="worksWrapper">
                            <img class="works" src="../static/Portfolio/Images/FestivalFriend.jpg" alt="logo">
                            <div class="worksProject">
                                <p>Festival Friend</p>
                                <div class="text">Visit Website</div>
                            </div>
                            <div class="worksWrapperShadowContainer">
                                <div class="worksWrapperShadow"></div>
                            </div>
                        </div>
                        <div class="worksWrapper">
                            <img class="works" src="../static/Portfolio/Images/AmazingKids.jpg" alt="logo">
                            <div class="worksProject">
                                <p>Amazing Kids Christian Child Care</p>
                                <div class="text">Visit Website</div>
                            </div>
                            <div class="worksWrapperShadowContainer">
                                <div class="worksWrapperShadow"></div>
                            </div>
                        </div>
                        <div class="seeMoreContainer">
                            <div class="seeMoreButton">
                                <p>See More</p>
                            </div>
                        </div>
                    </div>
                </div>
            <div id="skillsTag">
                <p>Sk<b>iL</b>ls</p>
            </div>
            <div class="three">
                <div class="technologies">
                    <div class="techContainerOne">
                        <div class="frameworks">
                            <p>Frameworks</p>
                            <div class="framecontainer">
                                <img class="langImg" src="../static/Portfolio/Images/django.png" alt="logo">
                                <img class="langImg" src="../static/Portfolio/Images/node.jpg" alt="logo">
                                <img class="langImg" src="../static/Portfolio/Images/angular.png" alt="logo">
                                <img class="langImg" src="../static/Portfolio/Images/entity.png" alt="logo">
                            </div>
                        </div>
                        <div class="languages">
                            <p>Languages</p>
                            <div class="langcontainer">
                                <img class="langImg" src="../static/Portfolio/Images/cSharp.png" alt="logo">
                                <img class="langImg" src="../static/Portfolio/Images/Javascript.png" alt="logo">
                                <img class="langImg" src="../static/Portfolio/Images/HTML.png" alt="logo">
                                <img class="langImg" src="../static/Portfolio/Images/CSS.png" alt="logo">
                                <img class="langImg" src="../static/Portfolio/Images/python.png" alt="logo">
                            </div>
                        </div>
                        <div class="frameworks">
                            <p>Libraries</p>
                            <div class="framecontainer">
                                <img class="langImg" src="../static/Portfolio/Images/react.png" alt="logo">
                                <img class="langImg" src="../static/Portfolio/Images/jquery.png" alt="logo">
                                <img class="langImg" src="../static/Portfolio/Images/bootstrap.png" alt="logo">
                                <img class="langImg" src="../static/Portfolio/Images/socket-io.svg" alt="logo">
                            </div>
                        </div>
                    </div>
                    <div class="techContainerTwo">
                        <div class="frameworks">
                            <p>Dev Tools</p>
                            <div class="framecontainer">
                                <img class="langImg" src="../static/Portfolio/Images/postman.png" alt="logo">
                                <img class="langImg" src="../static/Portfolio/Images/githubSquare.png" alt="logo">
                            </div>
                        </div>
                        <div class="frameworks">
                            <p>Databases</p>
                            <div class="framecontainer">
                                <img class="langImg" src="../static/Portfolio/Images/MYSQL.png" alt="logo">
                                <img class="langImg" src="../static/Portfolio/Images/sqlite.png" alt="logo">
                                <img class="langImg" src="../static/Portfolio/Images/mongoDB.jpg" alt="logo">
                            </div>
                        </div>
                        <div class="frameworks">
                            <p>Servers</p>
                            <div class="framecontainer">
                                <img class="langImg" src="../static/Portfolio/Images/aws.png" alt="logo">
                                <img class="langImg" src="../static/Portfolio/Images/azure.png" alt="logo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="socialTag">
                <p>cOn<b>NE</b>ct <b>Wi</b>t<b>H</b> mE</p>
            </div>
            <div class="five">
                <div class="socialsWrapper">
                    <div class="socialCircle">
                        <div class="iconWrapper">
                            <a href="https://www.linkedin.com/in/kayerarzadon-smith/"><img src="../static/Portfolio/Images/linkedInLogo1.png" alt="logo"></a>
                        </div>  
                    </div>
                    <div class="socialCircle">
                        <div class="iconWrapper">
                            <a href="https://github.com/Kayerarzadon-smith"><img src="../static/Portfolio/Images/githubLogo.png" alt="logo"></a>
                        </div>  
                    </div>
                    <div class="socialCircle">
                            <div class="iconWrapper">
                                <a href="mailto:kayerasmith@icloud.com?Subject=Hello%20again"><img src="../static/Portfolio/Images/email.png" alt="logo"></a>
                            </div>  
                    </div>
                </div>
                <p>Designed by me, Kayer Arzadon-Smith</p>
            </div>
        </div>
        <script>
            window.onscroll = () => {
                const nav = document.querySelector("#navBar");
                if(this.scrollY <= 10) nav.className = ''; else
            nav.className = 'scroll';
            };
        </script>
    </body>
</html>